<%# Header for the attendee pages %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3 rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="/attendee-home">Event Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#attendeeNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%# I coded the following code with no assistance %>
        <div class="collapse navbar-collapse" id="attendeeNavbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/attendee-home">Home</a>
            </li>
          </ul>
        </div>
        <%# I coded up till here with no assistance %>
    </div>
  </nav>